:root {
    --colorprincipal: #8a2036;
    --colorprincipaldegradado: #9f2041;
    --colorsecundario: #efe1ca;
    --colorterciario: #BC955B;
    --colorgiga: #56212f;
    --letrablanca: #fff;
    --sombra1: rgba(0, 0, 0, 0.15);
    --sombra2: rgba(0, 0, 0, 0.2);
}

.text-primary {
    color: var(--colorprincipal);
}

.text-secondary {
    color: var(--colorterciario);
}

.bg-header { 
    background-color: #9f2041;
}