.wrapper {
    width: 100%;
    height: auto;
    background-size: cover;
    
    animation: BgAnimation 10s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
    
    border-radius: 10px;
}

/* Animaciones */
@keyframes BgAnimation {
    0%      { background-image: url('../img/inicio1.avif'); }
    30%     { background-image: url('../img/inicio2.jpg'); }
    60%     { background-image: url('../img/inicio3.jfif'); }
    100%    { background-image: url('../img/inicio4.jpg'); }
}
/* Diseño responsive */
@media screen and (min-width: 600px) {
    .wrapper {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        height: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        height: 500px;
    }
}
